# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
*.apk
*.ap_


# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# folders
Front/node_modules
Front/builds

/Backend/target/
/Movil/bin/
/Movil/gen/
/Movil/out/
/Movil/.gradle/
/Movil/build/
/Movil/local.properties
/Movil/proguard/
/Movil/*.log
/Movil/.navigation/
/Movil/captures/
/Movil/*.iml
/Movil/.idea/
/Movil/.externalNativeBuild
/Movil/google-services.json
/Movil/freeline.py
/Movil/freeline/
/Movil/freeline_project_description.json

Front/config\.json
